
body, .article {
  background-color: #fdfdfc;
  color: #111;
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
h1, .h1 {
  font-weight: 400;
}
h2, .h2 {
  font-weight: 400;
  font-style: italic;
}
