body {
    margin: 0;
}

img {
    width: 100%;
}

#main {
    max-width: 28em;
    margin: auto;
    font-size: max(3vmin, 20px);
}

#footer {
    background-color: #2f3437;
    padding: 5em 0;
}

#sitemap {
    max-width: 28em;
    margin: auto;
    font-size: max(3vmin, 20px);
}

#sitemap p {
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0.5em 0em; 
}

#sitemap a {
    color: #eee;
    font-size: max(2.5vmin, 16px);
    text-decoration: none;
}
